<div class="center jumbotron">
  <h1>Welcome to Evidence oprav</h1>

  <h2>
    This is the home page for Evidence oprav
  </h2>

  <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
</div>

<%= link_to image_tag('rails.png', alt: 'Logo Evidence oprav'),
            'http://rubyonrails.org' %>