<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'shared/user_info' %>
    </section>
    <section class="order_form">
      <%= render 'shared/order_form' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>Order Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>