<% provide(:title, 'Registrace') %>
<% provide(:button_text, 'Create my account') %>

<h1><%= yield(:title) %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>