<%= form_for(@order, html: {multipart: true}) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :description, placeholder: 'Describe new order…' %>
    </div>
    <%= f.submit 'Create', class: 'btn btn-primary' %>
    <span class="picture">
      <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
    </span>
    <section class="tag_list">
      <%= f.collection_check_boxes :tag_ids, Tag.all, :id, :name do |cb| %>
          <% cb.label { cb.check_box + cb.text } %>
      <% end %>
    </section>
<% end %>

<script type="text/javascript">
    $('#order_picture').bind('change', function() {
        var size_in_megabytes = this.files[0].size/1024/1024;
        if (size_in_megabytes > 5) {
            alert('Maximum file size is 5MB. Please choose a smaller file.');
        }
    });
</script>
