<footer class="footer">
  <small>
    <a href="https://plus4u.net/ues/sesm?action=ues:UCL-BT:WEB14A16W.CZ/FULLTIME">Webové technologie</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <li><%= link_to 'News', '#' %></li>
    </ul>
  </nav>
</footer>